<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원 관리</title>
	<link rel="stylesheet" th:href="@{/static/css/common.css}">
	<link rel="stylesheet" th:href="@{/static/css/memberList.css}">
</head>
<body>
	<div class="container">
		<div class="title">회원 관리</div>

		<div class="search-bar">
			<input type="text" id="search" placeholder="검색">
			<button onclick="performSearch(1)">검색</button>
		</div>

		<table>
			<thead>
				<tr>
					<th>회원 번호</th>
					<th>아이디</th>
					<th>이름</th>
					<th>이메일</th>
					<th>전화 번호</th>
					<th>성별</th>
					<th>가입 날짜</th>
				</tr>
			</thead>
			<tbody id="memberTableBody">
			    <tr th:each="member : ${members}">
			        <td th:text="${member.memberSeq}"></td>
			        <td th:text="${member.id}"></td>
			        <td th:text="${member.name}"></td>
			        <td th:text="${member.email}"></td>
			        <td th:text="${member.phone}"></td>
			        <td th:text="${member.gender}"></td>
			        <td th:text="${#temporals.format(member.registerDate,'yyyy-MM-dd')}"></td>
			    </tr>
			</tbody>
		</table>

		<div th:if="${memberPaging != null}" class="pagination" th:utext="${memberPaging.pagingHTML}"></div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/static/js/member_search1.js}"></script>
</body>
</html>
