<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>공지사항 목록</title>
<link rel="stylesheet" th:href="@{/static/css/common.css}">
<link rel="stylesheet" th:href="@{/static/css/noticeList.css}">
</head>
<body>
	<div class="container">
	
		<div class="title">공지사항 목록</div>
		
		<!-- 검색 -->
		<div class="search-bar">
			<input type="text" th:value="${keyword}" id="search" placeholder="제목 검색">
			<button onclick="memberPaging(1)">검색</button>
		</div>
		
		<table>
			<thead>
				<tr>
					<th>글 번호</th>
					<th>제목</th>
					<th>작성 날짜</th>
					<th>수정 날짜</th>
					<th>숨김 여부</th>
				</tr>
			</thead>
			<tbody>
				<!-- 공지사항 목록 출력 -->
				  <tr th:each="notice : ${noticeList}">
		            <td th:text="${notice.noticeSeq}" 
		                th:onclick="|loadBodyForm('noticeDetail/${notice.noticeSeq}')|"></td>
		            <td th:text="${notice.title}" 
		                th:onclick="|loadBodyForm('noticeDetail/${notice.noticeSeq}')|"></td>
		           <td th:text="${#temporals.format(notice.createdDate, 'yyyy년 MM월 dd일 HH시 mm분')}"
				    th:onclick="|loadBodyForm('noticeDetail/${notice.noticeSeq}')|"></td>
					<td th:text="${#temporals.format(notice.updatedDate, 'yyyy년 MM월 dd일 HH시 mm분')}"
				    th:onclick="|loadBodyForm('noticeDetail/${notice.noticeSeq}')|"></td>

		            <td class="text-center">
		                <div class="form-switch form-check d-flex justify-content-center">
		                    <label class="form-check-label" th:for="'toggle' + ${notice.noticeSeq}"></label>
		                    <input class="form-check-input" type="checkbox" 
		                           th:id="'toggle' + ${notice.noticeSeq}" 
		                          th:checked="${notice.hide.equals(T(com.example.demo.entity.Notice.HideStatus).Y) ? 'checked' : null}"
		                           th:onclick="|toggleHideStatus(${notice.noticeSeq}, this)|">
		                </div>
		            </td>
		        </tr>
			</tbody>
		</table>
		<div>
			<div th:if="${paging != null}" class="pagination" th:utext="${paging}"></div>
		</div>
		<div class="text-end">
			<a class="btn" onclick="loadBodyForm('noticeWriteForm')">글쓰기</a>
		</div>
		
		<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="deleteSuccessLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="deleteSuccessLabel">알림</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" id="modalMessage">
		        <!-- 메시지가 동적으로 들어갑니다 -->
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="custom-btn" data-bs-dismiss="modal">확인</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
<script type="text/javascript">
function toggleHideStatus(noticeSeq, checkboxElement) {
    const isChecked = checkboxElement.checked; // 체크박스 상태 가져오기

    // 서버에 상태 변경 요청 (AJAX)
    $.ajax({
        type: 'PUT', // POST 요청
        url: '/api/notices/updateHideStatus/'+noticeSeq+'?hide='+isChecked, // 서버 API URL
        success: function(response) {
        	showModal('상태가 성공적으로 업데이트되었습니다');
            // 상태 변경 후 필요에 따라 UI 업데이트 추가
        },
        error: function(error) {
        	showModal('에러 발생:', error);
            // 오류 발생 시 체크박스를 원래 상태로 되돌리기
            checkboxElement.checked = !isChecked;
        }
    });
}
function showModal(message) {
    // 메시지를 동적으로 설정
    document.getElementById('modalMessage').textContent = message;

    // 부트스트랩 모달 띄우기
    const Modal = new bootstrap.Modal(document.getElementById('Modal'));
    Modal.show();
}
function memberPaging(page){
	if($('#search').val() == '')
		loadBodyForm('noticeList?page=' + (page-1));
	else {
		let value = $('#search').val();
		loadBodyForm('noticeList?value='+value+"&page=" + (page-1));
	}
}
</script>
</body>
</html>
