<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>공지사항 목록</title>
<link rel="stylesheet" th:href="@{/static/css/common.css}">
<link rel="stylesheet" th:href="@{/static/css/noticeList.css}">
</head>
<body>
	<div class="container">
	
		<div class="title">공지사항 목록</div>
		
		<div class="search-bar">
			<input type="text" id="search" placeholder="검색">
			<button onclick="performSearch()">검색</button>
		</div>
		<table>
			<thead>
				<tr>
					<th>글 번호</th>
					<th>제목</th>
					<th>작성 날짜</th>
					<th>수정 날짜</th>
					<th>공개 여부</th>
				</tr>
			</thead>
			<tbody>
				<!-- 공지사항 목록 출력 -->
				  <tr th:each="notice : ${noticeList}">
		            <td th:text="${notice.noticeSeq}" 
		                th:onclick="|loadBodyForm('noticeDetail/${notice.noticeSeq}')|"></td>
		            <td th:text="${notice.title}" 
		                th:onclick="|loadBodyForm('noticeDetail/${notice.noticeSeq}')|"></td>
		           <td th:text="${#temporals.format(notice.createdDate, 'yyyy년 MM월 dd일 HH시 mm분')}"
				    th:onclick="|loadBodyForm('noticeDetail/${notice.noticeSeq}')|"></td>
					<td th:text="${#temporals.format(notice.updatedDate, 'yyyy년 MM월 dd일 HH시 mm분')}"
				    th:onclick="|loadBodyForm('noticeDetail/${notice.noticeSeq}')|"></td>

		            <td class="text-center">
		                <div class="form-switch form-check d-flex justify-content-center">
		                    <label class="form-check-label" th:for="'toggle' + ${notice.noticeSeq}"></label>
		                    <input class="form-check-input" type="checkbox" 
		                           th:id="'toggle' + ${notice.noticeSeq}" 
		                           th:checked="${notice.hide == 'Y' ? 'checked' : null}">
		                </div>
		            </td>
		        </tr>
			</tbody>
		</table>
		<div class="pagination">
			<a href="#">이전</a> <a href="#">1</a> <a href="#" class="active">2</a>
			<a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">다음</a>
		</div>
		<div class="text-end">
			<a class="btn" onclick="loadBodyForm('noticeWriteForm')">글쓰기</a>
		</div>
	</div>
<script th:src="@{/static/js/loadClickEvent.js}"></script>
</body>
</html>
