<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>공연 관계자 관리</title>
<link rel="stylesheet" th:href="@{/static/css/common.css}">
<link rel="stylesheet" th:href="@{/static/css/sellerList.css}">
</head>
<body>
	<div class="container">
		<div class="title">공연 관계자 목록</div>

		<!-- 검색 -->
		<div class="search-bar">
			<input type="text" th:value="${keyword}" id="search" placeholder="이름 검색">
			<button onclick="memberPaging(1)">검색</button>
		</div>

		<!-- 테이블 -->
		<table>
			<thead>
				<tr>
					<th>회원 번호</th>
					<th>아이디</th>
					<th>이름</th>
					<th>이메일</th>
					<th>전화 번호</th>
					<th>성별</th>
					<th>가입 날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="seller : ${sellerList}">
					<td th:text="${seller.memberSeq}"> </td>
					<td th:text="${seller.id}"> </td>
					<td th:text="${seller.name}"> </td>
					<td th:text="${seller.email}"> </td>
					<td th:text="${seller.phone}"> </td>
					<td th:text="${seller.gender}"> </td>
			        <td th:text="${#temporals.format(seller.registerDate,'yyyy-MM-dd')}"></td>
				</tr>
			</tbody>
		</table>

	<div th:if="${paging != null}" class="pagination" th:utext="${paging}"></div>
		
	</div>

<script>
function memberPaging(page){
	if($('#search').val() == '')
		loadBodyForm('sellerList?page=' + (page-1));
	else {
		let value = $('#search').val();
		loadBodyForm('sellerList?value='+value+"&page=" + (page-1));
	}
}
</script>
</body>
</html>
