<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/static/css/common.css}">
</head>
<body>
	<div class="container">
		<div class="title">예매 관리</div>
		<!-- 검색 -->
		<div class="search-bar">
			<input type="text" th:value="${keyword}" id="search" placeholder="예매 번호로 검색">
			<button onclick="memberPaging(1)">검색</button>
		</div>
		<!-- <div class="search-bar">
			<input type="text" placeholder="검색">
			<button type="button">검색</button>
			<select class="form-select w-auto col-md-4" aria-label="정렬">
					<option selected value="1">공연명↑</option>
					<option value="2">공연명↓</option>
					<option value="3">최신등록순</option>
					<option value="4">할인율순</option>
			</select> -->
			<table>
				<thead >
					 <tr>
	                    <th>사용자ID</th>
	                    <th>공연명</th>
	                    <th>공연일</th>
	                    <th>예매번호</th>
	                    <th>예매일</th>
	                    <th>좌석번호</th>
	                    <th>결제 금액</th>
	                    <th>취소가능여부</th>
	                    <th>상태</th>
	                </tr>
				</thead>
				<tbody>
					<tr th:each="book : ${bookList}">
						<td th:text="${book.member.id}">이름</td>
						<td th:text="${book.playTimeTable.play.name}">1</td>
						<td th:text="${#temporals.format(book.playTimeTable.targetDate, 'yyyy-MM-dd')}">작성일</td>
						<td th:text="${book.bookSeq}" data-seq="${book.bookSeq}">1</td>
						<td th:text="${#temporals.format(book.payDate, 'yyyy-MM-dd')}">예매일</td>
						<td th:text="${book.seatNum}">1</td>
						<td th:text="${book.totalPrice}">결제금액</td>
						<td ><button type="button" id="refundBtn"
									 th:attr="data-seq=${book.bookSeq}"
						             th:disabled="${T(java.time.LocalDate).now().compareTo(book.playTimeTable.targetDate.toLocalDate()) >= 0}"
						             th:text="${T(java.time.LocalDate).now().compareTo(book.playTimeTable.targetDate.toLocalDate()) >= 0 ? '불가능' : '가능'}"
									 data-bs-toggle="modal" 
									 data-bs-target="#confirmModal"
									 class="custom-btn"> </button>
						</td>
						<td class="payStatus" th:text="${book.paymentStatus}">상태</td>
					</tr>
					<!-- 추가 행은 필요에 따라 추가 -->
				</tbody>
			</table>
		<div>
			<div th:if="${paging != null}" class="pagination" th:utext="${paging}"></div>
		</div>
		
	
	<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">환불 확정</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>환불 처리하시겠습니까? </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="custom-btn" id="refundConfirmBtn">확인</button>
		    <button type="button" class="custom-btn-disable" data-bs-dismiss="modal">취소</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="deleteSuccessLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deleteSuccessLabel">알림</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" id="modalMessage">
	        <!-- 메시지가 동적으로 들어갑니다 -->
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="custom-btn" data-bs-dismiss="modal">확인</button>
	      </div>
	    </div>
	  </div>
  	</div>
  	</div>
<script th:src="@{/static/js/book.js}"></script>
<script type="text/javascript">
function memberPaging(page){
	if($('#search').val() == '')
		loadBodyForm('bookList?page=' + (page-1));
	else {
		let value = $('#search').val();
		loadBodyForm('bookList?value='+value+"&page=" + (page-1));
	}
}
</script>
</body>
</html>