<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공연 정보 등록</title>
<link rel="stylesheet" th:href="@{/static/css/common.css}">
<link rel="stylesheet" th:href="@{/static/css/playUpdate.css}">
</head>
<body>
<div class="container">
		<div class="title">공연 정보 수정</div>
        <form method = "post" class="row g-3 needs-validation" id="playRegisterForm" novalidate>
            <div id = "seq" th:text="${play.playSeq}" style="display :none"></div>
            <!-- 공연명 -->
            <div class="mb-3">
                <label for="play_name" class="form-label">공연명</label>
                <input type="text" class="form-control" id="play_name" th:value="${play.name}" name= "play_name" placeholder="공연명을 입력하세요" required>
                <div class="invalid-feedback">공연명을 입력해 주세요.</div>
            </div>
            
            <!-- 공연 시작 및 종료 날짜 -->
            <div class="mb-3 row" style="padding : 0">
                <div class="col">
                    <label for="start_date" class="form-label">공연 기간 시작일</label>
                    <input type="date" class="form-control" id="start_date"   th:value="${#dates.format(startTime, 'yyyy-MM-dd')}"  style="width: 250px;" required>
                    <div class="invalid-feedback">공연 시작 날짜를 입력해 주세요.</div>
                </div>
                <div class="col">
                    <label for="end_date" class="form-label">공연 기간 종료일</label>
                    <input type="date" class="form-control" id="end_date" th:value="${#dates.format(endTime, 'yyyy-MM-dd')}" style="width: 250px;" required>
                    <div class="invalid-feedback">공연 종료 날짜를 입력해 주세요.</div>
                    <div id="end_date_invalid-feedback"> </div>
                </div>
            </div>
            
            	<!-- 러닝타임 -->
            <div class="mb-3">
                <label for="runningTime" class="form-label">공연 시간</label>
                <input type="number" class="form-control" th:value="${play.runningTime}" id="runningTime" name= "runningTime" placeholder="공연 시간을 입력하세요" required>
                <div class="invalid-feedback">공연 시간을 입력해 주세요.</div>
            </div>
            
            <!-- 가격 -->
            <div class="mb-3">
                <label for="price" class="form-label">가격</label>
                <input type="number" class="form-control" id="price" name= "price" th:value="${play.price}" placeholder="가격을 입력하세요" required>
                <div class="invalid-feedback">가격을 입력해 주세요.</div>
            </div>
            
                  <!-- 가격 -->
            <div class="mb-3">
                <label for="ageLimit" class="form-label">연령 제한</label>
                <input type="text" class="form-control" id="ageLimit" name= "ageLimit" th:value="${play.ageLimit}" placeholder="연령 제한을 입력하세요" required>
                <div class="invalid-feedback">연령 제한을 입력하세요.</div>
            </div>
		    <!-- 상영관 타입 등록 -->
       <!--      <div class="mb-3">
                <label for="venueSelect" class="form-label">상영관 타입 선택</label>
                <select class="form-select" id="venueSelect" required>
                    <option selected disabled value="">상영관을 선택하세요</option>
                      <th:block th:each="theater : ${theaterList}">
       					 <option th:value="${theater.theaterSeq}" th:text="${theater.name}">
       					 </option>
    				  </th:block>
                </select>
                <div class="invalid-feedback">상영관 타입을 선택해 주세요.</div>
            </div> -->

            <!-- 총 출연진 등록 -->
            <div class="mb-3">
                <label for="total_actor" class="form-label">총 출연진</label>
                <input type="text" class="form-control" id="total_actor" th:value="${play.totalActor}" name="total_actor" placeholder="출연진을 입력하세요." required>
                <div class="invalid-feedback">출연진을 입력해 주세요.</div>
            </div>

            <!-- 공연포스터 이미지 업로드 -->
            <div class="mb-3">
                <label for="posterUpload" class="form-label">공연포스터 등록</label>
                <input type="file" class="form-control" id="image" accept="image/*" onchange="previewImage(event)" required>
                <div class="invalid-feedback">공연 포스터를 업로드해 주세요.</div>
                
                <div th:if="${play.imageFileName}">
				    <img id="imagePreview" class="image-preview" th:src="'https://kr.object.ncloudstorage.com/bitcamp-9th-bucket-135/storage/' + ${play.imageFileName}" 
				         alt="공연 이미지">
				</div>
				<div th:unless="${play.imageFileName}">
					<img id="imagePreview" class="image-preview" style="display:none;" alt="이미지 미리보기">
				</div>	
            </div>
        

            <!-- 네이버 스마트에디터 2.0 API -->
            <div class="mb-3">
                <textarea name="description" id="description" rows="40" cols="10" style="width: 100%; height: 500px;"
                th:text="${play.description}" placeholder="내용을 입력해주세요." required></textarea>
            </div>

           <div class="form-footer">
				<button id = "enroll" type="button" class="btn btn-primary">수정</button>
				<button type="button" onclick="loadBodyForm('playList')" class="btn btn-primary">목록</button>		
			</div>
        </form>
    </div>
</body>
<script type="text/javascript">
var oEditors = [];
(function() {
    'use strict';
    window.addEventListener('load', function() {
        var forms = document.getElementsByClassName('needs-validation');
        Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();
/*
function smartEditor() {
	// 네이버 스마트 에디터 2.0 API 
	
	
    console.log("Naver SmartEditor");
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "editorTxt",
        sSkinURI: "/static/smarteditor/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
    });
    
    const description = $('#editorTxt').text();
    oEditors.getById["editorTxt"].exec("SET_IR", [description]);
}

$(document).ready(function() {
    smartEditor();
});
*/
function previewImage() {
    const fileInput = document.getElementById('posterUpload');
    const preview = document.getElementById('posterPreview');
    
    const file = fileInput.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            preview.src = e.target.result;
            preview.style.display = 'block';
        }
        reader.readAsDataURL(file);
        document.getElementById("posterPreviewMsg").innerHTML = "<p style='color: grey;'> 포스터 미리보기 </p>";
    } else {
        preview.src = '';
        preview.style.display = 'none';
    }
}

document.getElementById('enroll').addEventListener('click', function(event) {
	event.preventDefault(); // 기본 제출 방지
	//oEditors.getById["editorTxt"].exec("UPDATE_CONTENTS_FIELD", []);
	//폼 데이터- 제목, 내용, 이미지 등록
	const seq = document.getElementById('seq').innerText;
	const name = document.getElementById('play_name').value;
	const startTime = document.getElementById('start_date').value;
	const endTime = document.getElementById('end_date').value;
	const description =document.getElementById('description').value;
	const totalActor =document.getElementById('total_actor').value;
	const price =document.getElementById('price').value;
	const ageLimit =document.getElementById('ageLimit').value;
	const runningTime =document.getElementById('runningTime').value;
	const image =document.getElementById('image').files[0];

	//폼데이터 객체
	const formData = new FormData();
	formData.append('name', name);
	formData.append('startTime', startTime);
	formData.append('endTime', endTime);
	formData.append('startTime', startTime);
	formData.append('description', description);
	formData.append('totalActor', totalActor);
	formData.append('price', price);
	formData.append('ageLimit', ageLimit);
	formData.append('runningTime', runningTime);
	if (image) {
		formData.append('image', image);
	}
	console.log('/api/plays/playUpdate/'+seq);
	//서버로 데이터 전송
	fetch('/api/plays/playUpdate/'+seq, {
		method : 'POST',
		body : formData
	})
	.then(response => {
		if (!response.ok) {
			throw new Error('서버 응답 중 에러 발생함')
		}
		return response.json();
	})
	.then(data => {
		showModal('공연 정보 등록이 수정했습니다.');
		loadBodyForm('playList'); //목록 페이지 이동
	})
	.catch(error => {
		console.error('Error:', error);
		showModal('공연 정보 수정이 실패했습니다.');
	});
});

</script>
<script th:src="@{/static/js/playUpdate.js}"></script>
<script th:src="@{/static/js/writeForm.js}"></script>

</html>
