<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공연 정보 등록</title>
<link rel="stylesheet" th:href="@{/static/css/common.css}">
<link rel="stylesheet" th:href="@{/static/css/playRegisterForm.css}">
</head>
<body>
<div class="container">
		<div class="title">공연 정보 등록</div>
        <form method = "post" class="row g-3 needs-validation" id="playRegisterForm" novalidate>
            <!-- 공연명 -->
            <div class="mb-3">
                <label for="play_name" class="form-label">공연명</label>
                <input type="text" class="form-control" id="play_name" name= "play_name" placeholder="공연명을 입력하세요" required>
                <div class="invalid-feedback">공연명을 입력해 주세요.</div>
            </div>
            
            <!-- 공연 시작 및 종료 날짜 -->
            <div class="mb-3 row" style="padding : 0">
                <div class="col">
                    <label for="start_date" class="form-label">공연 기간 시작일</label>
                    <input type="date" class="form-control" id="start_date" style="width: 250px;" required>
                    <div class="invalid-feedback">공연 시작 날짜를 입력해 주세요.</div>
                </div>
                <div class="col">
                    <label for="end_date" class="form-label">공연 기간 종료일</label>
                    <input type="date" class="form-control" id="end_date" style="width: 250px;" required>
                    <div class="invalid-feedback">공연 종료 날짜를 입력해 주세요.</div>
                    <div id="end_date_invalid-feedback"> </div>
                </div>
            </div>

   			  	<!-- 러닝타임 -->
            <div class="mb-3">
                <label for="runningTime" class="form-label">공연 시간</label>
                <input type="number" class="form-control" id="runningTime" name= "runningTime" placeholder="공연 시간을 입력하세요" required>
                <div class="invalid-feedback">공연 시간을 입력해 주세요.</div>
            </div>
            
            <!-- 가격 -->
            <div class="mb-3">
                <label for="price" class="form-label">가격</label>
                <input type="number" class="form-control" id="price" name= "price" placeholder="가격을 입력하세요" required>
                <div class="invalid-feedback">가격을 입력해 주세요.</div>
            </div>
            
                  <!-- 가격 -->
            <div class="mb-3">
                <label for="ageLimit" class="form-label">연령 제한</label>
                <input type="text" class="form-control" id="ageLimit" name= "ageLimit" placeholder="연령 제한을 입력하세요" required>
                <div class="invalid-feedback">연령 제한을 입력하세요.</div>
            </div>
            <!-- 공연 위치 등록 - 우편 API-->
            <!-- 
            <div class="mb-3 row">
                <div class="col-auto">
                    <label for="zipcode" class="form-label">공연장 등록</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="postcode" name="postcode" placeholder="우편번호" style="width: 100px;" required>
                        <div class="invalid-feedback">우편번호를 입력해 주세요.</div>
                    	<input type="button"  class="btn btn-outline-secondary" onclick="daumPostCodeSearch()" value="우편번호 찾기"><br>
                    </div>
                </div>
                <div class="col">
                    <label for="address" class="form-label">상세주소</label>
                    <input type="text" name="address" class="form-control" id="address" placeholder="상세주소 입력" required>
                    <div class="invalid-feedback">상세 주소를 입력해 주세요.</div>
                </div>
            </div>
            -->

            <!-- 총 출연진 등록 -->
            <div class="mb-3">
                <label for="total_actor" class="form-label">총 출연진</label>
                <input type="text" class="form-control" id="total_actor" name="total_actor" placeholder="출연진을 입력하세요." required>
                <div class="invalid-feedback">출연진을 입력해 주세요.</div>
            </div>

            <!-- 공연포스터 이미지 업로드 -->
            <div class="mb-3">
                <label for="posterUpload" class="form-label">공연포스터 등록</label>
                <input type="file" class="form-control" id="posterUpload" accept="image/*" onchange="previewImage()" required>
                <div class="invalid-feedback">공연 포스터를 업로드해 주세요.</div>
            </div>
            
            <!-- 공연포스터 이미지 미리보기 -->
            <div class="mb-3 text-center">
                <img id="posterPreview" class="rounded-custom" src="" alt="이미지 미리보기" style="display: none; max-width: 100%; height: auto; margin-top: 10px;">
                <div id="posterPreviewMsg"></div>
            </div>

            <!-- 네이버 스마트에디터 2.0 API -->
            <div id="smarteditor">
                <textarea name="description" id="editorTxt" rows="40" cols="10" style="width: 100%; height: 500px;" placeholder="내용을 입력해주세요." required></textarea>
            </div>

           <div class="form-footer">
				<button id = "enroll" type="button" class="btn btn-primary">등록</button>
				<button type="button" onclick="loadBodyForm('playList')" class="btn btn-primary">목록</button>	
			</div>
        </form>
         <!-- Modal -->
		<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="deleteSuccessLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="deleteSuccessLabel">알림</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" id="modalMessage">
		        <!-- 메시지가 동적으로 들어갑니다 -->
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="custom-btn" data-bs-dismiss="modal">확인</button>
		      </div>
		    </div>
		  </div>
		</div>
    </div>
</body>
<script type="text/javascript">
var oEditors = [];
document.getElementById('enroll').addEventListener('click', function(event) {
	event.preventDefault(); // 기본 제출 방지
	oEditors.getById["editorTxt"].exec("UPDATE_CONTENTS_FIELD", []);
	//폼 데이터- 제목, 내용, 이미지 등록
	const name = document.getElementById('play_name').value;
	const startTime = document.getElementById('start_date').value;
	const endTime = document.getElementById('end_date').value;
	const description =document.getElementById('editorTxt').value;
	const totalActor =document.getElementById('total_actor').value;
	const price =document.getElementById('price').value;
	const ageLimit =document.getElementById('ageLimit').value;
	const runningTime =document.getElementById('runningTime').value;
	const image =document.getElementById('posterUpload').files[0];

	//폼데이터 객체
	const formData = new FormData();
	formData.append('name', name);
	formData.append('startTime', startTime);
	formData.append('endTime', endTime);
	formData.append('startTime', startTime);
	formData.append('description', description);
	formData.append('totalActor', totalActor);
	formData.append('price', price);
	formData.append('ageLimit', ageLimit);
	formData.append('runningTime', runningTime);
	if (image) {
		formData.append('image', image);
	}
	
	//서버로 데이터 전송
	fetch('/api/plays/playRegisterWrite', {
		method : 'POST',
		body : formData
	})
	.then(response => {
		if (!response.ok) {
			throw new Error('서버 응답 중 에러 발생함')
		}
		return response.json();
	})
	.then(data => {
		showModal('공연 정보 등록이 성공했습니다.');
		loadBodyForm('playList'); //목록 페이지 이동
	})
	.catch(error => {
		console.error('Error:', error);
		showModal('공연 정보 등록이 실패했습니다.');
	});
});



function smartEditor() {
	// 네이버 스마트 에디터 2.0 API 
	
    console.log("Naver SmartEditor");
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "editorTxt",
        sSkinURI: "/static/smarteditor/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
    });
}

$(document).ready(function() {
    smartEditor();
});
</script>
</body>
<script th:src="@{/static/js/playRegisterForm.js}"></script>
<script th:src="@{/static/js/writeForm.js}"></script>
</html>
