<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/static/css/common.css}">
</head>
<body>
	<div class="container">
		<div class="title">QnA 목록</div>
		<!-- 검색 -->
		<div class="search-bar">
			<input type="text" th:value="${keyword}" id="search" placeholder="QnA 제목 검색">
			<button onclick="memberPaging(1)">검색</button>
		</div>
		<!-- <div class="search-bar">
			<input type="text" placeholder="검색">
			<button type="button">검색</button>
			<select class="form-select w-auto col-md-4" aria-label="정렬">
					<option selected value="1">공연명↑</option>
					<option value="2">공연명↓</option>
					<option value="3">최신등록순</option>
					<option value="4">할인율순</option>
			</select>
		</div> -->
			<table>
				<thead >
				<tr>
                    <th> 문의번호</th>
                    <th> 사용자ID</th>
                    <th> 공연명</th>
                    <th> 문의날짜</th>
                    <th> 문의제목</th>
                    <th> 처리여부</th>
                    <th> 답변</th>
                </tr>
				</thead>
				<tbody>
				<tr th:each="qna : ${qnaList}">
					<td th:text="${qna.qnaSeq}">문의번호</td>
					<td th:text="${qna.memberId}">사용자ID</td>
					<td th:text="${qna.playName}">공연명</td>
					<td th:text="${#temporals.format(qna.createdDate, 'yyyy-MM-dd')}">작성일</td>
					<td th:text="${qna.title}">제목</td>
                   	<td class="text-center">
						  <div class="form-switch form-check d-flex justify-content-center">
						    <label class="form-check-label" for="toggle1"></label>
						    <input class="form-check-input" type="checkbox" id="check_reply" disabled th:checked="${qna.replyYn == 'checked'}">
						  </div>
					</td>
					<td ><button id="qnaReplyBtn" type="button"
								th:attr="data-seq=${qna.qnaSeq}, data-name=${qna.replyYn}"
                  				data-bs-toggle="modal" 
								data-bs-target="#confirmModal"
								class="custom-btn"
								th:text="${qna.replyYn == 'checked' ? '수정' : '답변'}">
						</button>
					</td>
                </tr>
				<!-- 추가 행은 필요에 따라 추가 -->
				</tbody>
			</table>
		<div>
			<div th:if="${paging != null}" class="pagination" th:utext="${paging}"></div>
		</div>
	</div>
	

	<!-- Modal -->
	<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="confirmModalLabel">Q&A 답변 </h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
            <div class="mb-3">
                <label for="playName" class="form-label">공연명</label>
                <input type="text" class="form-control" id="playName" name= "playName" placeholder="공연명" readonly>
            </div>
            <div class="mb-3 row">
                <label for="memberName" class="form-label">작성자</label>
                <input type="text" class="form-control" id="memberName" name= "memberName" placeholder="작성자" readonly>
            </div>
            <div class="mb-3 row">
 	           <div class="col">
	                <label for="createdDate" class="form-label">작성일</label>
	                <input type="text" class="form-control" id="createdDate" name= "createdDate" placeholder="작성자" readonly> 
	           </div>
            </div>
            <div class="mb-3 row">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name= "title" placeholder="작성자" readonly>
            </div>
            <div class="mb-3">
            	<div class="col">
	                <label for="play_name" class="form-label">Q&A 내용</label>
	                <textarea class="form-control" id="content" name= "content" rows="4" placeholder="Q&A 내용" readonly> </textarea>
            	</div>
            </div>
            <div class="mb-3">
                <label for="replyContent" class="form-label">답변 작성 </label>
                <textarea  class="form-control" id="replyContent" name= replyContent rows="3" placeholder="답변 내용을 입력하세요" required > </textarea>
                <div class="invalid-feedback">답변 내용을 입력해 주세요.</div>
            </div>
          </div>
	      <div class="modal-footer">
	        <button type="button" class="custom-btn-disable" data-bs-dismiss="modal">취소</button>
	        <button type="button" class="custom-btn" id="confirmBtn">답변</button>
	      </div>
	    </div>
	  </div>
	</div>
<script th:src="@{/static/js/qnaList.js}"></script>
<script type="text/javascript">
function memberPaging(page){
	if($('#search').val() == '')
		loadBodyForm('qnaList?page=' + (page-1));
	else {
		let value = $('#search').val();
		loadBodyForm('qnaList?value='+value+"&page=" + (page-1));
	}
}
</script>
</body>
</html>