.container {
	margin: 60px auto;
	background-color: #fff;
	padding: 50px 80px;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	max-height: 100vh; /* 컨테이너의 최대 높이 설정 */
    overflow: visible; 
    font-family: Arial, sans-serif;
    white-space: nowrap; /* 줄바꿈 방지 */
	overflow: auto;    /* 내용이 길 경우 숨김 */
}


table {
	width: 100%;
	border-collapse: collapse;
}

table th, table td {
	/*   white-space: normal;   줄바꿈을 허용 */
	white-space: nowrap; /* 줄바꿈 방지 */
	overflow: hidden;    /* 내용이 길 경우 숨김 */
	border: 1px solid #ccc;
	padding: 15px;
	text-align: center;
	font-size: 14px;
}

table th {
	background-color: #BE97EC;
	color: #fff;
	font-weight: bold;
}

table tr:nth-child(even) {
	background-color: #f7f7f7;
}
table tr:hover {
    background-color: #f3e6ff; /* 마우스를 올렸을 때 연한 보라색으로 변경 */
}

.search-bar {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 40px;
}

.search-bar input {
	width: 200px;
	padding: 5px 5px 5px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 15px;
}

.search-bar button {
	padding: 6px 12px;
	border: none;
	background-color: #BE97EC;
	color: #fff;
	font-size: 17px;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 15px;
}
.custom-btn{
	padding: 6px 12px;
	border: none;
	background-color: #BE97EC;
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
}
.custom-btn:hover{
	background-color: #8E43E7;
}
.custom-btn-disable{
	padding: 6px 12px;
	border: none;
	background-color: rgb(241, 222, 231);
	color: black;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
}
.custom-btn-disable:hover{
	background-color: gray;
	color: white;
}
.search-bar button:hover {
	background-color: #6A2DB4;
}
.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
	color: #5f4b8b;
}
.pagination {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	text-align: center;
	font-size: 17px;
}
.pagination span {
	text-decoration: none;
	color: #8E43E7;
	margin: 0 5px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.pagination span:hover {
	background-color: #f5f5f5;
	color: #6A2DB4;
}

.pagination .active {
	background-color: #9b61db;
	color: #fff;
	pointer-events: none;
}
.text-end {
	display: flex;
	justify-content: right;
}
.text-end .btn {
	padding: 7px 15px;
	background-color: #BE97EC;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 17px;
	cursor: pointer;
	text-decoration: none;
}

.text-end .btn:hover {
	background-color: #7745a2;
}
